body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #3C3B3F, #17691d);
  background-attachment: fixed;
}

html, body, #app, #app>div {
  height: 100%
}

body a {
  color: black;
}

.input:focus{
  box-shadow: none;
  border-color: black;
}

.main {
  /* background-image: url("./assets/marbs.jpg"); */
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow:  0 0 20px black;
  height: 100%;
}

form {
  display: flex;
  z-index: 3;
}

.navbar {
  padding-top: 2px;
  font-family: 'BP Imperial', BP Imperial, monospace;
  color: black;
}

.navbarActive {
  font-size: 2em;
  text-align: right;
}

.nav-item {
  margin: 2px;
  float: right;
  padding-right: 15px;
  text-decoration: none;
}

.nav-item:hover{
  color: grey;
  cursor: pointer;
}

.navbar-nav {
  padding: 0;
  background-color: white;
  float: left;
}

.home {
  color: black;
  background-color: black;
  border-radius: 5px;
  padding: 5px 5px;
  box-shadow:  0 0 20px black;
  /* display: flex; */
  background-size: cover;
  border-style: solid;
  /* opacity: 100%; */
  height: 90%;
  display: flex;
}

.pickUpLogo {
  width: 12em;
  height: 6em;
  z-index: 1;
  background: transparent;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}